.top {
  text-align: center;
  background-color: #FFFF00;
  color: #00acee;
}

.button {
  text-align: center;
  padding: 50px;
  
}

input[type="text"] {
  width: 600px;
  height: 80px;
}

.post {
  text-align: center;
}

.container {
  background-color: antiquewhite;
}

body {
  background-color: antiquewhite;
}

